<h2>Template</h2>
<hr />

<ul class="list-group">
  <li
    *ngFor="let item of menuTemplate"
    [routerLink]="item.route"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.text }}
  </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr />

<ul class="list-group">
  <li
    *ngFor="let item of menuReactive"
    [routerLink]="[item.route]"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.text }}
  </li>
</ul>

<h2 class="mt-3">Validaciones</h2>
<hr />

<ul class="list-group">
  <li
    *ngFor="let item of menuAuth"
    [routerLink]="[item.route]"
    routerLinkActive="active"
    class="list-group-item"
  >
    {{ item.text }}
  </li>
</ul>
