<h2>Template: Básicos</h2>

<hr />

<main class="row">
  <section class="col">
    <form>
      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            placeholder="Nombre del producto"
          />
          <span class="form-text text-danger"> Debe de ser de 3 letras </span>
        </div>
      </article>

      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            placeholder="Precio del producto"
          />
        </div>
      </article>

      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            placeholder="Stock del producto"
          />
        </div>
      </article>

      <article class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </article>
    </form>
  </section>
</main>
