<h2>Template: Básicos</h2>

<hr />

<main class="row">
  <section class="col">
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Producto</label>

        <div class="col-sm-9">
          <input
            ngModel
            name="product"
            class="form-control"
            type="text"
            placeholder="Nombre del producto"
            required
            minlength="3"
          />
          <span *ngIf="isValidName()" class="form-text text-danger">
            <!-- <span
            *ngIf="myForm.controls?.['product']?.invalid && myForm.touched"
            class="form-text text-danger"
          > -->
            Debe de ser de 3 letras
          </span>
        </div>
      </article>

      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Precio</label>

        <div class="col-sm-9">
          <input
            ngModel
            name="price"
            class="form-control"
            type="number"
            placeholder="Precio del producto"
            min="0"
            required
          />

          <span *ngIf="isValidPrice()" class="form-text text-danger">
            El precio debe ser mayor a 0.
          </span>
        </div>
      </article>

      <article class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Stock</label>

        <div class="col-sm-9">
          <input
            ngModel
            name="stock"
            class="form-control"
            type="number"
            placeholder="Stock del producto"
            required
          />
        </div>
      </article>

      <article class="row">
        <div class="col">
          <button
            [disabled]="myForm.invalid"
            type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </article>
    </form>
  </section>
</main>

<section class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>
  </div>

  <!-- Pristine indica que no se han tocado lo valores del form -->
  <!-- los valores por defecto -->
  <div class="col">
    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>
  </div>

  <!-- indica si el usuario ha tocado el formulario -->
  <!-- ha si no hay hecho un cambio -->
  <div class="col">
    <span>Touche</span>
    <pre>{{ myForm.touched }}</pre>
  </div>

  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
</section>
