<h2>Switches</h2>
<hr />

<form class="control-form">
  <section class="row mb-3">
    <label class="col-sm-3 col-form-label">Genero</label>

    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          name="radioGenero"
          id="masculino"
          required
        />
        <label class="form-check-label" for="masculino"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          name="radioGenero"
          id="femenino"
          required
        />
        <label class="form-check-label" for="femenino"> femenino </label>
      </div>
    </div>
  </section>

  <section class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>

    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          name="notifications"
          type="checkbox"
          role="switch"
          id="notificaciones"
        />
        <label class="form-check-label" for="notificaciones"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </section>

  <section class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>

    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="terms"
          value=""
          id="condiciones"
          required
        />
        <label class="form-check-label" for="condiciones"
          >Terminos y Condiciones</label
        >
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <button class="btn btn-primary float-end">Guardar</button>
    </div>
  </section>
</form>
<!--
<h5>Valor del formulario</h5>
<pre>{{ myForm.value | json }}</pre>

<br />

<h5>Valor del Person</h5>
<pre>{{ person | json }}</pre>

<h5>Valid</h5>
<pre>{{ myForm.valid }}</pre>

<h5>Condiciones</h5>
<pre>{{ myForm?.controls?.['terms']?.errors | json }}</pre> -->
