<h2>Validaciones Reactivas</h2>
<hr />

<main class="row">
  <section class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Nombre del usuario"
          />
          <span *ngIf="notValidField('name')" class="form-text text-danger"
            >Debe ser en formato de nombre y apellido</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Username del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña del usuario"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </section>
</main>

<h2>form Valid: {{ myForm.valid }}</h2>

<h4>Nombre</h4>
<pre>{{ myForm.controls["name"].errors | json }}</pre>
