<h2>Validaciones Reactivas</h2>
<hr />

<main class="row">
  <section class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Nombre del usuario"
          />
          <span *ngIf="notValidField('name')" class="form-text text-danger"
            >Debe ser en formato de nombre y apellido</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email del usuario"
          />
          <span *ngIf="notValidField('email')" class="form-text text-danger">{{
            emailErrorMessage
          }}</span>
          <!-- <span *ngIf="emailRequired()" class="form-text text-danger"
            >El correo es obligatorio</span
          >
          <span *ngIf="checkPatterEmail()" class="form-text text-danger"
            >El correo no cumple con el formato</span
          >
          <span *ngIf="emailNotAvaliable()" class="form-text text-danger"
            >El correo no esta disponible</span
          > -->
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username del usuario"
          />
          <span *ngIf="notValidField('username')" class="form-text text-danger"
            >El username es obligatorio</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Contraseña del usuario"
          />
          <span *ngIf="notValidField('password')" class="form-text text-danger"
            >La contraseña debe ser mayor a 6 caracteres</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password2"
            placeholder="Confirmar la contraseña del usuario"
          />
          <span *ngIf="notValidField('password2')" class="form-text text-danger"
            >Las contraseñas deben ser iguales</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            [disabled]="myForm.pending"
            type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </section>
</main>

<h2>form Valid: {{ myForm.valid }}</h2>

<h2>form Status: {{ myForm.status }}</h2>

<h4>Form Global Errors</h4>
<pre>{{ myForm.errors | json }}</pre>

<h4>Nombre</h4>
<pre>{{ myForm.controls["name"].errors | json }}</pre>
